
body {
  font-family: 'Roboto', sans-serif; 
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


nav {
  background: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}


header {
  text-align: center;
  padding: 2em 0;
  background: #007bff;
  color: #fff;
  border-bottom: 5px solid #0056b3;
}

header h1 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
  color: #fff;
}

header p {
  font-size: 1.2em;
  color: #e2e2e2;
}


section {
  padding: 20px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  color: #333;
}


.fluid-layout {
  width: 90vw; ]
  max-width: 1200px;
  padding: 2%; 
  margin: 2% auto;
  display: block;
  box-sizing: border-box;
  min-height: calc(100vh - 150px); 
}

.fixed-width-layout {
  width: 960px; 
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  min-height: calc(100vh - 150px); 
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  border-radius: 5px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1em 0;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
